<form class="form-horizontal">
    <div class="control-group">
        <label>Symbol</label>
        <div class="controls">
            <input id="symbol" name="product.symbol"  value="{{=data.product.symbol}}">
        </div>
    </div>


    <div class="control-group">
        <label>product.name</label>
        <div class="controls">
            <input id="name" name="product.name"  value="{{=data.product.name}}">
        </div>
    </div>

    <div class="control-group">
        <label>product.mesures.calories.value</label>
        <div class="controls">
            <input id="mesures.calories.value" name="product.mesures.calories.value"  value="{{=data.product.mesures.calories.value}}">
        </div>
    </div>

    <div class="control-group">
        <label>product.mesures.fats.value</label>
        <div class="controls">
            <input id="mesures.fats.value" name="product.mesures.fats.value"  value="{{=data.product.mesures.fats.value}}">
        </div>
    </div>

    <div class="control-group">
        <label>product.mesures.sugars.value</label>
        <div class="controls">
            <input id="mesures.sugars.value" name="product.mesures.sugars.value"  value="{{=data.product.mesures.sugars.value}}">
        </div>
    </div>

    <div class="control-group">
        <label>product.mesures.cellulose.value</label>
        <div class="controls">
            <input id="mesures.cellulose.value" name="product.mesures.cellulose.value"  value="{{=data.product.mesures.cellulose.value}}">
        </div>
    </div>


    <div class="control-group">
        <label>product.portionSize.value</label>
        <div class="controls">
            <input id="portionSize.value" name="product.portionSize.value"  value="{{=data.product.portionSize.value}}">
        </div>
    </div>


    <button id="save" class="btn-primary">Save</button>
    <button id="cancel" class="btn">Cancel</button>
</form>